<div class="container">
    <div class="title">
        <h2>Buscar pedidos</h2>
    </div>
    <form class="search" (submit)="searchOrders($event)">
        <div class="input">
            <input type="text" placeholder="Email del usuario" />
        </div>
        <button>Buscar</button>
    </form>
    <div class="orders">
        @if (filteredOrders.length === 0) {
        <div class="empty">
            <p>No se encontraron pedidos :(</p>
        </div>
        }
        @for (order of filteredOrders; track order.id) {
        <app-order-card [order]="order"></app-order-card>
        }
    </div>
</div>