<div class="restaurant">
    <a [href]="'/restaurant/' + restaurant.id">
        <img src="https://infonegocios.info/content/images/2022/07/20/22571/conversions/pizza-alla-pala-01-cba-medium-size.jpg"
            alt="">
        <div class="bottom">
            <div class="info">
                <img [src]="this.restaurant.logo" [alt]="this.restaurant.name">
                <div class="right">
                    <h2>{{ restaurant.name }}</h2>
                    <p>{{ restaurant.location }}</p>
                </div>
            </div>
            <span class="distance">{{ restaurant.distanceToUser }}</span>
        </div>
    </a>
</div>