<div class="restaurant">
    <a [href]="'/restaurant/' + restaurant.id">
        <img [src]="this.restaurant.banner"
            alt="">
        <div class="bottom">
            <div class="info">
                <img [src]="this.restaurant.logo" [alt]="this.restaurant.name">
                <div class="right">
                    <h2>{{ restaurant.name }}</h2>
                    <p>{{ restaurant.location }}</p>
                </div>
            </div>
            <span class="distance">{{ restaurant.distanceToUser }}</span>
        </div>
    </a>
</div>