<div>
    <h1>Order Detail</h1>
    @if (this.order) {
    <div class="order">
        <div class="order-info">
            <div class="header">
                <div class="left">
                    <!-- <span class="status">{{ this.orderStatusNames[order.type][order.status] }}</span> -->
                    <span>•</span>
                    <span class="date">{{ order.date }}</span>
                    <span>•</span>
                    <span class="time">{{ order.time }}</span>
                </div>
                <h4>#{{ order.number }}</h4>
            </div>
            <div class="restaurant">
                <img src="{{ order.restaurant.logo }}" alt="{{ order.restaurant.name }}">
                <div class="restaurant-info">
                    <h3>{{ order.restaurant.name }}</h3>
                    <p>{{ order.restaurant.location }}</p>
                </div>
            </div>
        </div>
    </div>
    }
    <button routerLink="/orders">Back</button>
</div>