<main>
    @if (this.restaurant){
    <h2>Administrador de {{this.restaurant.name}}</h2>
    <div class="tables">
        <div class="table">
            <div class="title">
                <h3>Pickup
                </h3>
                <button (click)="this.showQRCode('pickup')"><mat-icon aria-hidden="false" aria-label="Show QR Code"
                        fontIcon="qr_code"></mat-icon>
                </button>
                <div class="qr" [id]="'qr-pickup'">
                    <h3>QR Pickup</h3>
                    <qrcode
                        [qrdata]="'https://verlacarta-front.vercel.app/restaurant/' + this.restaurant.id + '/order/pickup'"
                        [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </div>
            <ul class="orders">
                @for (order of this.pickupOrders; track order.id){
                <li>
                    <app-order-card [order]="order" [admin]="true"
                        (onStatusChange)="changeOrderStatus($event)"></app-order-card>
                </li>
                }
                @if (this.pickupOrders.length === 0){
                <li>
                    <p>No hay pedidos en esta mesa</p>
                </li>
                }
            </ul>
        </div>
        @for (table of this.tables; track $index){
        <div class="table">
            <div class="title">
                <h3>Mesa {{table.number}}</h3>
                <button (click)="this.showQRCode(table.id)">
                    <mat-icon aria-hidden="false" aria-label="Show QR Code" fontIcon="qr_code"></mat-icon>
                </button>
                <div class="qr" [id]="'qr-' + table.id">
                    <div class="header">
                        <h3>QR Mesa {{table.number}}</h3>
                        <button (click)="this.copyToClipboard('https://verlacarta-front.vercel.app/restaurant/' + this.restaurant.id + '/order/' + table.id)">Copiar</button>
                    </div>
                    <qrcode
                        [qrdata]="'https://verlacarta-front.vercel.app/restaurant/' + this.restaurant.id + '/order/' + table.id"
                        [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </div>
            <ul class="orders">
                @for (order of this.ordersByTable[table.id]; track order.id){
                <li>
                    <app-order-card [order]="order" [admin]="true"
                        (onStatusChange)="changeOrderStatus($event)"></app-order-card>
                </li>
                }
                @if (this.ordersByTable[table.id].length === 0){
                <li>
                    <p>No hay pedidos en esta mesa</p>
                </li>
                }
            </ul>
        </div>
        }
    </div>
    }
</main>