<main>
    @if (this.restaurant){
    <h2>Administrador de {{this.restaurant.name}}</h2>
    <div class="tables">
        @for (table of this.tables; track $index){
        <div class="table">
            <div class="title">
                <h3>Mesa {{table.number}}</h3>
                <button>Ver QR</button>
            </div>
            <ul class="orders">
                @for (order of this.ordersByTable[table.id]; track order.id){
                <li>
                    <app-order-card [order]="order" [admin]="true"
                        (onStatusChange)="changeOrderStatus($event)"></app-order-card>
                </li>
                }
                @if (this.ordersByTable[table.id].length === 0){
                <li>
                    <p>No hay pedidos en esta mesa</p>
                </li>
                }
            </ul>
        </div>
        }
    </div>
    }
</main>