<main>
    @if (this.restaurant){
    <h2>Administrador de {{this.restaurant.name}}</h2>
    <div class="tables">
        <div class="table">
            <div class="title">
                <h3>Pickup
                </h3>
                <button id="pickup" (click)="this.showQRCode($event)">Ver QR</button>
                <div class="qr" [id]="'qr-pickup'">
                    <qrcode
                        [qrdata]="'https://verlacarta-front.vercel.app/restaurant/' + this.restaurant.id + '/order/pickup'"
                        [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </div>
            <ul class="orders">
                @for (order of this.pickupOrders; track order.id){
                <li>
                    <app-order-card [order]="order" [admin]="true"
                        (onStatusChange)="changeOrderStatus($event)"></app-order-card>
                </li>
                }
                @if (this.pickupOrders.length === 0){
                <li>
                    <p>No hay pedidos en esta mesa</p>
                </li>
                }
            </ul>
        </div>
        @for (table of this.tables; track $index){
        <div class="table">
            <div class="title">
                <h3>Mesa {{table.number}}</h3>
                <button (click)="this.showQRCode($event)" [id]="table.id">Ver QR</button>
                <div class="qr" [id]="'qr-' + table.id">
                    <qrcode
                        [qrdata]="'https://verlacarta-front.vercel.app/restaurant/' + this.restaurant.id + '/order/' + table.id"
                        [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </div>
            <ul class="orders">
                @for (order of this.ordersByTable[table.id]; track order.id){
                <li>
                    <app-order-card [order]="order" [admin]="true"
                        (onStatusChange)="changeOrderStatus($event)"></app-order-card>
                </li>
                }
                @if (this.ordersByTable[table.id].length === 0){
                <li>
                    <p>No hay pedidos en esta mesa</p>
                </li>
                }
            </ul>
        </div>
        }
    </div>
    }
</main>