<main class="detail">
    @if (restaurant){
    <img class="banner" [src]="this.restaurant.banner" alt="">
    <div class="container">
        <div class="info">
            <div class="top">
                <img [src]="this.restaurant.logo" [alt]="this.restaurant.name">
                <span class="distance">{{ restaurant.distanceToUser }}</span>
            </div>
            <div class="bottom">
                <div class="left">
                    <h2>{{ restaurant.name }}</h2>
                    <p>{{ restaurant.location }}</p>
                </div>
            </div>
            @if (restaurant.description){
            <div class="desc">
                <h3>
                    Descripción
                </h3>
                <p>
                    {{ restaurant.description }}
                </p>
            </div>
            }
        </div>
        <div class="buttons">
            <a [href]="'/restaurant/' + this.restaurant.id + '/menu'">Ver La Carta ;)</a>
            <a [href]="'/restaurant/' + this.restaurant.id + '/menu/pickup'">Hacer pedido pickup</a>
        </div>
    </div>
    }
</main>