.pdf-container {
    height: calc(100vh - 140px);
    width: 100vw;
    position: absolute;
    top: 40px;
    padding: 20px;
    overflow: hidden;

    h2 {
        font-size: 18px;
    }

    #viewer {
        height: 100%;
        width: 100%;
    }

    .order-button-container {
        position: absolute;
        bottom: 20px;
        right: 20px;

        a {
            background-color: #b51a1a;
            border: none;
            padding: 12px 14px;
            font-size: 20px;
            border-radius: 5px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            color: white;
            font-weight: 500;
            text-decoration: none;
        }
    }
}
