form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin: 15px ; 
  width: 100%;
}

::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: rgb(181,26,26) !important;
}

::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: rgba(181,26,26,0.65) !important;
}
